<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="agregar_eventos.css">
    <title>Document</title>
</head>
<body>
    <div class="contenedor">
        <div  id="imagen">
            <img src="/imagenes/IMAGEN2.webp" alt="imagen">
        </div>
        <div class="container" id="container">
            <div class="form_container">
                <h1>PUBLICACIÓN DE NUEVO TORNEO</h1>
                <form action="/eventos" method="post">
                    <div class="nombre_precio">
                        <input class="nombre_del_evento" name="nombre" type="text" placeholder="NOMBRE EVENTO ..." required>
                        <input class="precio_inscripcion" name="precio" type="number" placeholder="PRECIO INSCRIPCIÓN ..." required>
                    </div>
                    <div class="fecha_hora">
                        <div class="mas_info">
                            <label for="">FECHA DEL EVENTO</label>
                            <input class="fecha" name="fecha" type="date" required>
                        </div>
                        <div class="mas_info">
                            <label for="">HORA DE INICIO</label>
                            <input class="hora_inicio" name="hora_inicio" type="time" required>
                        </div>
                        <div class="mas_info">
                            <label for="">HORA APROX FIN</label>
                            <input class="hora_fin" name="hora_fin" type="time" required>
                        </div>
                    </div>
                    <div class="rangos">
                        <div class="fila">
                            <div class="mas_info2">
                                <label for="">CATEGORIA 1</label>
                                <select name="categoria_1" required>
                                    <option value="2.50">2,50</option>
                                    <option value="2.75">2,75</option>
                                    <option value="3.00">3,00</option>
                                    <option value="3.25">3,25</option>
                                    <option value="3.50">3,50</option>
                                    <option value="3.75">3,75</option>
                                    <option value="4.00">4,00</option>
                                    <option value="4.25">4,25</option>
                                    <option value="4.50">4,50</option>
                                    <option value="4.75">4,75</option>
                                    <option value="5.00">5,00</option>
                                </select>
                            </div>
                            <div class="mas_info2">
                                <label for="">CATEGORIA 2 <span>OPCIONAL</span></label>
                                <select name="categoria_2">
                                    <option value="0"></option>
                                    <option value="2.50">2,50</option>
                                    <option value="2.75">2,75</option>
                                    <option value="3.00">3,00</option>
                                    <option value="3.25">3,25</option>
                                    <option value="3.50">3,50</option>
                                    <option value="3.75">3,75</option>
                                    <option value="4.00">4,00</option>
                                    <option value="4.25">4,25</option>
                                    <option value="4.50">4,50</option>
                                    <option value="4.75">4,75</option>
                                    <option value="5.00">5,00</option>
                                </select>
                            </div>
                        </div>
                        <div class="fila">
                            <div class="mas_info2">
                                <label for="">CATEGORIA 3 <span>OPCIONAL</span></label>
                                <select name="categoria_3">
                                    <option value="0"></option>
                                    <option value="2.50">2,50</option>
                                    <option value="2.75">2,75</option>
                                    <option value="3.00">3,00</option>
                                    <option value="3.25">3,25</option>
                                    <option value="3.50">3,50</option>
                                    <option value="3.75">3,75</option>
                                    <option value="4.00">4,00</option>
                                    <option value="4.25">4,25</option>
                                    <option value="4.50">4,50</option>
                                    <option value="4.75">4,75</option>
                                    <option value="5.00">5,00</option>
                                </select>
                            </div>
                            <div class="mas_info2">
                                <label for="">CATEGORIA 4 <span>OPCIONAL</span></label>
                                <select name="categoria_4">
                                    <option value="0"></option>
                                    <option value="2.50">2,50</option>
                                    <option value="2.75">2,75</option>
                                    <option value="3.00">3,00</option>
                                    <option value="3.25">3,25</option>
                                    <option value="3.50">3,50</option>
                                    <option value="3.75">3,75</option>
                                    <option value="4.00">4,00</option>
                                    <option value="4.25">4,25</option>
                                    <option value="4.50">4,50</option>
                                    <option value="4.75">4,75</option>
                                    <option value="5.00">5,00</option>
                                </select>
                            </div>
                        </div>
                        <div class="fila">
                            <div class="mas_info2">
                                <label for="">CATEGORIA 5 <span>OPCIONAL</span></label>
                                <select name="categoria_5">
                                    <option value="0"></option>
                                    <option value="2.50">2,50</option>
                                    <option value="2.75">2,75</option>
                                    <option value="3.00">3,00</option>
                                    <option value="3.25">3,25</option>
                                    <option value="3.50">3,50</option>
                                    <option value="3.75">3,75</option>
                                    <option value="4.00">4,00</option>
                                    <option value="4.25">4,25</option>
                                    <option value="4.50">4,50</option>
                                    <option value="4.75">4,75</option>
                                    <option value="5.00">5,00</option>
                                </select>
                            </div>
                            <div class="mas_info2">
                                <label for="">CATEGORIA 6 <span>OPCIONAL</span> </label>
                                <select name="categoria_6">
                                    <option value="0"></option>
                                    <option value="2.50">2,50</option>
                                    <option value="2.75">2,75</option>
                                    <option value="3.00">3,00</option>
                                    <option value="3.25">3,25</option>
                                    <option value="3.50">3,50</option>
                                    <option value="3.75">3,75</option>
                                    <option value="4.00">4,00</option>
                                    <option value="4.25">4,25</option>
                                    <option value="4.50">4,50</option>
                                    <option value="4.75">4,75</option>
                                    <option value="5.00">5,00</option>
                                </select>
                            </div>
                        </div>
                        <div class="fila">
                            <div class="mas_info2">
                                <label for="">CATEGORIA 7 <span>OPCIONAL</span> </label>
                                <select name="categoria_7">
                                    <option value="0"></option>
                                    <option value="2.50">2,50</option>
                                    <option value="2.75">2,75</option>
                                    <option value="3.00">3,00</option>
                                    <option value="3.25">3,25</option>
                                    <option value="3.50">3,50</option>
                                    <option value="3.75">3,75</option>
                                    <option value="4.00">4,00</option>
                                    <option value="4.25">4,25</option>
                                    <option value="4.50">4,50</option>
                                    <option value="4.75">4,75</option>
                                    <option value="5.00">5,00</option>
                                </select>
                            </div>
                            <div class="mas_info2">
                                <label for="">CAT. FEMENINA <span>OPCIONAL</span> </label>
                                <select name="categoria_femenina">
                                    <option value="0"></option>
                                    <option value="2.50">2,50</option>
                                    <option value="2.75">2,75</option>
                                    <option value="3.00">3,00</option>
                                    <option value="3.25">3,25</option>
                                    <option value="3.50">3,50</option>
                                    <option value="3.75">3,75</option>
                                    <option value="4.00">4,00</option>
                                    <option value="4.25">4,25</option>
                                    <option value="4.50">4,50</option>
                                    <option value="4.75">4,75</option>
                                    <option value="5.00">5,00</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="direccion">
                        <input class="direccion_juego" name="direccion" type="text" placeholder="¿DÓNDE SE JUEGA?" required>
                    </div>
                    <div class="telefono">
                        <input class="telefono_organizador" name="telefono_organizador" type="tel" pattern="[0-9]{9}" placeholder="TELÉFONO CONTACTO ..." required>
                    </div>
                    <div class="cartel">
                        <div class="mas_info">
                            <label for="">CARTEL DEL TORNEO</label>
                            <input name="portada" type="file" value="PORTADA DEL EVENTO" required>
                        </div>
                    </div>
                    <button class="publicar">
                        <span class="circle" aria-hidden="true">
                        <span class="icon arrow"></span>
                        </span>
                        <span class="button-text">PUBLICAR</span>
                    </button>
                </form>
            </div>
        </div>
    </div>
</body>
</html>

<script>
    addEventListener('load',inicio,false);
    function inicio()
    {
      document.getElementById('min').addEventListener('change',change,false);
      document.getElementById('max').addEventListener('change',change,false);
    }
  
    function change()
    {    
      document.getElementById('min_text').innerHTML=document.getElementById('min').value;
      document.getElementById('max_text').innerHTML=document.getElementById('max').value;
    }
</script>