<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="agregar_eventos.css">
    <title>Document</title>
</head>
<body>
    <div class="contenedor">
        <div  id="imagen">
            <img src="/imagenes/IMAGEN2.webp" alt="imagen">
        </div>
        <div class="container" id="container">
            <div class="form_container">
                <h1>PUBLICACIÓN DEL NUEVO TORNEO</h1>
                <form action="/eventos" method="post">
                    <div class="nombre_precio">
                        <input class="nombre_del_evento" name="nombre" type="text" placeholder="NOMBRE DEL EVENTO ..." required>
                        <input class="precio_inscripcion" name="precio" type="number" placeholder="PRECIO INSCRIPCIÓN ..." required>
                    </div>
                    <div class="fecha_hora">
                        <div class="mas_info">
                            <label for="">FECHA EVENTO</label>
                            <input class="fecha" name="fecha" type="date" required>
                        </div>
                        <div class="mas_info">
                            <label for="">HORA INICIO</label>
                            <input class="hora_inicio" name="hora_inicio" type="time" required>
                        </div>
                        <div class="mas_info">
                            <label for="">HORA FIN</label>
                            <input class="hora_fin" name="hora_fin" type="time" required>
                        </div>
                    </div>
                    <div class="rangos">
                        <input id="min" name="categoria_min" type="range" min="2.75" max="4.75" step="0.25" value="0" autocomplete="off" placeholder="NIVEL DE CATEGORIA MINIMA" required>
                        <p id="min_text"></p>
                        <input id="max" name="categoria_max" type="range" min="2.75" max="4.75" step="0.25" value="4.75" autocomplete="off" placeholder="NIVEL DE CATEGORIA MAXIMA" required>
                        <p id="max_text"></p>
                    </div>
                    <div class="participantes_direccion">
                        <div class="opcional_participantes_maximos">
                            <h6 class="opcional1">* opcional</h6>
                            <input class="participantes_maximos" name="participantes_maximos" type="number" placeholder="JUGADORES MÁXIMOS ...">
                        </div>
                        <input class="direccion" name="direccion" type="text" placeholder="¿DÓNDE SE JUEGA?" required>
                    </div>
                    <div class="fotos_instagram">
                        <div class="opcional_fotos">
                            <h6 class="opcional2">* opcional</h6>
                            <input class="link_fotos" name="link_fotos" type="url" placeholder="LINK FOTOGRAFIAS ...">
                        </div>
                        <div class="opcional_instagram">
                            <h6 class="opcional3">* opcional</h6>
                            <input class="instagram" name="instagram" type="url" placeholder="INSTAGRAM TORNEO ...">
                        </div>
                    </div>
                    <div class="telefono_premio">
                        <input class="telefono_organizador" name="telefono_organizador" type="tel" pattern="[0-9]{9}" placeholder="TELÉFONO CONTACTO ..." required>
                        <div class="opcional_premio">
                            <h6 class="opcional4">* opcional</h6>
                            <input class="premio" name="premio" type="number" placeholder="SUMA DE PREMIOS ...">
                        </div>
                    </div>
                    <div class="reglamento_cartel">
                        <div class="mas_info">
                            <label for="">REGLAMENTO</label>
                            <h6 class="opcional5">* opcional</h6>
                            <input name="reglamento" type="file" placeholder="REGLAMENTO ...">
                        </div>
                        <div class="mas_info">
                            <label for="">CARTEL DEL TORNEO</label>
                            <input name="portada" type="file" value="PORTADA DEL EVENTO" required>
                        </div>
                    </div>
                    <button class="publicar">
                        <span class="circle" aria-hidden="true">
                        <span class="icon arrow"></span>
                        </span>
                        <span class="button-text">PUBLICAR</span>
                      </button>
                </form>
            </div>
        </div>
    </div>
</body>
</html>

<script>
    addEventListener('load',inicio,false);
    function inicio()
    {
      document.getElementById('min').addEventListener('change',change,false);
      document.getElementById('max').addEventListener('change',change,false);
    }
  
    function change()
    {    
      document.getElementById('min_text').innerHTML=document.getElementById('min').value;
      document.getElementById('max_text').innerHTML=document.getElementById('max').value;
    }
</script>