<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="agregar.css">
    <title>Document</title>
</head>
<body>
    <div class="contenedor">
        <div  id="imagen">
            <img src="/imagenes/IMAGEN2.webp" alt="imagen">
        </div>
        <div class="container" id="container">
            <div class="form_container">
                <h1>PUBLICACIÓN DEL NUEVO TORNEO</h1>
                <form action="/eventos" method="post">
                    <div>
                        <input name="nombre" type="text" placeholder="NOMBRE DEL EVENTO ..." required>
                        <input name="precio" type="number" placeholder="PRECIO DE LA INSCRIPCIÓN ..." required>
                    </div>
                    <div class="fecha_hora">
                        <div class="mas_info">
                            <label for="">FECHA DEL EVENTO</label>
                            <input name="fecha" type="date" required>
                        </div>
                        <div class="mas_info">
                            <label for="">HORA DE INICIO DEL EVENTO</label>
                            <input name="hora_inicio" type="time" required>
                        </div>
                        <div class="mas_info">
                            <label for="">HORA FIN DEL EVENTO</label>
                            <input name="hora_fin" type="time" required>
                        </div>
                    </div>
                    <div class="rangos">
                        <input id="min" name="categoria_min" type="range" min="2.75" max="4.75" step="0.25" value="0" autocomplete="off" placeholder="NIVEL DE CATEGORIA MINIMA" required>
                        <p id="min_text"></p>
                        <input id="max" name="categoria_max" type="range" min="2.75" max="4.75" step="0.25" value="4.75" autocomplete="off" placeholder="NIVEL DE CATEGORIA MAXIMA" required>
                        <p id="max_text"></p>
                    </div>
                    <div>
                        <input name="participantes_maximos" type="number" placeholder="NÚMERO MÁXIMO DE PARTICIPANTES ...">
                        <input name="direccion" type="text" placeholder="¿DÓNDE SE JUEGA?" required>
                    </div>
                    <div>
                        <input name="link_fotos" type="url" placeholder="LINK DE LAS FOTOGRAFIAS ...">
                        <input name="instagram" type="url" placeholder="INSTAGRAM DEL TORNEO ...">
                    </div>
                    <div>
                        <input name="telefono_organizador" type="tel" pattern="[0-9]{9}" placeholder="TELÉFONO DEL ORGANIZADOR ..." required>
                        <input name="premio" type="number" placeholder="TOTAL EN PREMIOS ...">
                    </div>
                    <div class="reglamento_cartel">
                        <div class="mas_info">
                            <label for="">REGLAMENTO</label>
                            <input name="reglamento" type="file" placeholder="REGLAMENTO ...">
                        </div>
                        <div class="mas_info">
                            <label for="">CARTEL DEL TORNEO</label>
                            <input name="portada" type="file" value="PORTADA DEL EVENTO">
                        </div>
                    </div>
                    <button class="publicar">
                        <span class="circle" aria-hidden="true">
                        <span class="icon arrow"></span>
                        </span>
                        <span class="button-text">PUBLICAR</span>
                      </button>
                </form>
            </div>
        </div>
    </div>
</body>
</html>

<script>
    addEventListener('load',inicio,false);
    function inicio()
    {
      document.getElementById('min').addEventListener('change',change,false);
      document.getElementById('max').addEventListener('change',change,false);
    }
  
    function change()
    {    
      document.getElementById('min_text').innerHTML=document.getElementById('min').value;
      document.getElementById('max_text').innerHTML=document.getElementById('max').value;
    }
</script>