<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/inscribirse.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <title>INSCRIPCIÓN ...</title>
</head>
<body>
    <div class="contenedor">
        <div class="container" id="container">
            <div class="form_container">
                <i id="atras" onclick="close_popup()" class="fa-solid fa-x"></i>
                <h1>¿CON QUIÉN JUEGAS?</h1>
                <div class="eleccion_juego">
                    <button class="solo">SOLO</button>
                    <button class="en_pareja">EN PAREJA</button>
                </div>
                <form id="ins" action="/inscripcion" method="post">
                    <input name="id_evento" style="display: none;" value=" <%= id_evento %> "></input>
                    <div class="info_jugador_1">
                        <input class="nombre" name="nombre_jugador_uno" type="text" placeholder="NOMBRE JUGADOR 1 ..." required>
                        <input class="apellidos" name="apellidos_jugador_uno" type="text" placeholder="APELLIDOS JUGADOR 1 ..." required>
                        <input class="telefono" name="telefono_jugador_uno" type="tel" placeholder="TELÉFONO JUGADOR 1 ..." required>
                    </div>
                    <div class="info_jugador_2">
                        <input class="nombre" name="nombre_jugador_dos" type="text" placeholder="NOMBRE JUGADOR 2 ...">
                        <input class="apellidos" name="apellidos_jugador_dos" type="text" placeholder="APELLIDOS JUGADOR 2 ...">
                        <input class="telefono" name="telefono_jugador_dos" type="tel" placeholder="TELÉFONO JUGADOR 2 ...">
                    </div>
                    <div class="info_equipo">
                        <label for="">¿EN QUÉ CATEGORIA QUIEREN JUGAR?</label>
                        <select name="categoria">
                            <option value="null" selected>CATEGORIA ...</option>
                            <% for (const obj of array_categorias_empty) { %>
                                <option><%= `${obj.nombre} ${obj.valor}` %></option>
                            <% } %>
                        </select>
                        <h3>¡ HAGA EL BIZUM AL TELÉFONO DEL ORGANIZADOR !</h3>
                    </div>
                    <button class="publicar">
                        <span class="circle" aria-hidden="true">
                        <span class="icon arrow"></span>
                        </span>
                        <span class="button-text">INSCRIBIRSE</span>
                      </button>
                </form>
                <div id="popup" class="popup">
                    <div id="contenedor">
                        <div class="contenedor-loader">
                          <div class="loader"></div>
                        </div>
                        <div class="cargando">INSCRIPCIÓN COMPLETADA CON ÉXITO</div>
                      </div>
                </div>
            </div>
        </div>
    </div>
    <script src="/scripts/popup_inscripcion.js"></script>
</body>
</html>