<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BOOKPADELTECH</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <link rel="stylesheet" href="login.css">
<body>
    <div class="container">
        <input type="checkbox" id="flip">
        <div class="cover">
            <div class="front">
                <img src="https://static.vecteezy.com/system/resources/previews/031/597/040/non_2x/the-paddle-tennis-court-features-a-defining-white-boundary-line-vertical-mobile-wallpaper-ai-generated-free-photo.jpg" alt="">
            </div>
        </div>
        <div class="forms">
            <div class="form-content">
                <div class="login-form">
                    <div class="title">INICIAR SESIÓN</div>
                    <form action="/login" method="post">
                        <div class="input-boxes">
                            <div class="input-box">
                                <% if (error == "mail" || error == "both"){ %>
                                    <i style="color: red;" class="fas fa-envelope"></i>
                                    <% } else {%>
                                    <i class="fas fa-envelope"></i>
                                <% } %>
                                    <input name="correo_electronico" type="text" placeholder="CORREO ELECTRÓNICO" required>
                            </div>
                            <div class="input-box">
                                <i class="fas fa-lock"></i>
                                <% if(error == "passwd" || error == "both" || error == "mail"){ %>
                                    <i style="color: red" class="fas fa-lock"></i>

                                <% } else {%>
                                    <i class="fas fa-lock"></i>
                                <% } %>
                                    <input name="contrasenya" type="password" placeholder="CONTRASEÑA" required>
                            </div>
                            <h5><%= error_message %></h5>
                            <div class="button input-box">
                                <input type="submit" value="INICIAR SESIÓN">
                            </div>
                            <div class="text sign-up-text">¿NO TIENE UN PERFIL? <label for="flip">CREAR PERFIL</label></div>
                        </div>
                    </form>
                </div>
                <div class="signup-form">
                    <div class="title">CREAR PERFIL</div>
                    <form action="/register" method="post">
                        <div class="input-boxes">
                            <div class="input-box">
                                <i class="fas fa-user"></i>
                                <input name="nombre" type="text" placeholder="NOMBRE" required>
                            </div>
                            <div class="input-box">
                                <i class="fas fa-user-tag"></i>
                                <input name="apellidos" type="text" placeholder="APELLIDOS" required>
                            </div>
                            <div class="input-box">
                                <i class="fas fa-phone-alt"></i>
                                <input name="telefono" type="text" placeholder="TELÉFONO" maxlength="9" required>
                            </div>
                            <div class="input-box">
                                <i class="fas fa-user-ninja"></i>
                                <input name="nombre_de_usuario" type="text" placeholder="NOMBRE DE USUARIO" required>
                            </div>
                            <div class="input-box">
                                <i class="fas fa-eye"></i>

                                <select name="nivel_de_padel" id="nivel_padel">
                                    <option value="null" selected>NIVEL DE PADEL</option>
                                    <option value="2,75">2,75</option>
                                    <option value="3,00">3,00</option>
                                    <option value="3,25">3,25</option>
                                    <option value="3,50">3,50</option>
                                    <option value="3,75">3,75</option>
                                    <option value="4,00">4,00</option>
                                    <option value="4,25">4,25</option>
                                    <option value="4,50">4,50</option>
                                    <option value="4,75">4,75</option>
                                    <option value="5,00">5,00</option>
                                </select>
                            </div>
                            <div class="input-box">
                                <i class="fas fa-crosshairs"></i>
                                <input name="posicion_en_pista" type="text" placeholder="POSICIÓN EN PISTA" required>
                            </div>
                            <div class="input-box">
                                <i class="fas fa-envelope"></i>
                                <input name="correo_electronico" type="text" placeholder="CORREO ELECTRÓNICO" required>
                            </div>
                            <div class="input-box">
                                <i class="fas fa-lock"></i>
                                <input name="contrasenya" type="password" placeholder="CONTRASEÑA" required>
                            </div>
                            <div class="input-box">
                                <i class="fa-solid fa-gear"></i>
                                <select name="rango" id="rango">
                                    <option value="participante">PARTICIPANTE</option>
                                    <option value="administrador">ORGANIZADOR</option>
                                </select>
                            </div>
                            <input style="border: 1px solid yellow;visibility: hidden;" name="clave_seguridad" type="password" placeholder="CLAVE DE SEGURIDAD">
                            <div class="button input-box">
                                <input type="submit" value="CREAR PERFIL">
                            </div>
                            <div class="text sign-up-text">¿YA TIENE UN PERFIL? <label for="flip">INICIAR SESIÓN</label></div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>
<script src="login.js"></script>
</html>