<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BOOKPADELTECH</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="container" id="container">
        <div class="form-container sign-up">
            <form action="/register" method="post">
                <h1>CREAR PERFIL</h1>
                <div class="social-icons">
                    <a href="#" class="icon"><i class="fa-brands fa-google-plus-g"></i></a>
                    <a href="#" class="icon"><i class="fa-brands fa-facebook-f"></i></a>
                    <a href="#" class="icon"><i class="fa-brands fa-github"></i></a>
                    <a href="#" class="icon"><i class="fa-brands fa-linkedin-in"></i></a>
                </div>
                <input name="nombre" type="text" placeholder="NOMBRE" required>
                <input name="apellidos" type="text" placeholder="APELLIDOS" required>
                <input name="telefono" type="tel" placeholder="TELÉFONO" required>
                <input name="nombre_de_usuario" type="text" placeholder="NOMBRE DE USUARIO" required>
                <input name="nivel_de_padel" type="number" placeholder="NIVEL DE PÁDEL" required>
                <input name="posicion_en_pista" type="text" placeholder="POSICIÓN EN PISTA" required>
                <input name="correo_electronico" type="email" placeholder="CORREO ELÉCTRONICO" required>
                <input name="contrasenya" type="password" placeholder="CONTRASEÑA" required>
                <label for="rango">TIPO DE USUARIO</label>
                <select name="rango" id="rango">
                    <option value="participante">PARTICIPANTE</option>
                    <option value="administrador">ADMINISTRADOR</option>
                </select>
                <button type="submit">CREAR PERFIL</button>
            </form>
        </div>
        <div class="form-container sign-in">
            <form action="/login" method="post">
                <h1>INICIAR SESIÓN</h1>
                <% if (error == "mail" || error == "both"){ %>
                    <input style="border: 1px solid red;" name="correo_electronico" type="text" placeholder="CORREO ELECTRÓNICO" required>
                <% } else {%>
                    <input name="correo_electronico" type="email" placeholder="CORREO ELÉCTRONICO" required>
                <% } %>
                <% if(error == "passwd" || error == "both"){ %>
                    <input style="border: 1px solid red;" name="contrasenya" type="password" placeholder="CONTRASEÑA" required>
                <% } else {%>
                    <input name="contrasenya" type="password" placeholder="CONTRASEÑA" required>
                <% } %>
                <h5><%= error_message %></h5>
                <button>INICIAR SESIÓN</button>
            </form>
        </div>
        <div class="toggle-container">
            <div class="toggle">
                <div class="toggle-panel toggle-left">
                    <h1>BIENVENIDO A BOOKPADEL</h1>
                    <p>¡ CORRE Y APUNTATE A LOS MEJORES TORNEOS !</p>
                    <button class="hidden" id="login">INICIAR SESIÓN</button>
                </div>
                <div class="toggle-panel toggle-right">
                    <h1>BIENVENDIO A BOOKPADEL</h1>
                    <p>¿ QUIERES PERTENECER A LOS MEJORES TORNEOS DEL MUNDO ?</p>
                    <button class="hidden" id="register">CREAR PERFIL</button>
                </div>
            </div>
        </div>
    </div>
</body>
<script src="login.js"></script>
<script src="/scripts/mensajes_error.js"></script>
</html>